[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[packages]
better_exceptions = "*"
click = "==6.7"
gunicorn = "*"
itsdangerous = "==0.24"
mock = "==2.0.0"
numpy = "==1.11.3"
olefile = "==0.44"
pbr = "==1.10.0"
powerline-status = "==2.5"
protobuf = "==3.1.0"
six = "==1.10.0"
tensorflow = "==0.12.1"
Flask = "==0.12.3"
"Jinja2" = "==2.10.1"
MarkupSafe = "==0.23"
Pillow = "==6.2.0"
Werkzeug = "==0.11.15"

[dev-packages]
nose = "*"
flake8 = "*"
flake8-import-order = "*"
yapf = "*"
